{% extends "base.html" %}
{% block content %}
<div class="escuela">
  {% for e in schooll %}
  Escuela <i>{{e.escuela.nivel}}</i> <strong>{{e.escuela.nombre}}</strong><br>
  Clave: {{e.escuela.clave}}
  <p>
  <strong>Zona:</strong> {{e.escuela.zona}},
  <strong>Sector: </strong>{{e.escuela.sector}},
  <strong>Modalidad: </strong>{{e.escuela.modalidad}}
  </p>
  <p>
  <strong>Dirección:</strong><br>
  {{e.escuela.calle}} {{e.escuela.numero}} Col: {{e.escuela.colonia}}
  C.P.: {{escuela.cod_postal}}<br>
  {{e.escuela.localidad.localidad}} {{e.escuela.municipio}}
  </p>
  <p>
  <strong>Contacto</strong><br>
  Teléfono: {{e.escuela.telefono}}
  Correo electrónico: {{e.escuela.email}}
  </p>
  {% endfor %}
  </div>
<p>
    <h3>Personal Docente:</h3>
<div class="personal">
    {% for p in object_list %}
      <p>
      <strong>
        {{p.puesto.puesto}}:
      </strong>
      {{p.personal.nombre}}
      {{p.personal.apellido_paterno}}
      {{p.personal.apellido_materno}}
      <small><a href="{% url 'personal' p.personal.rfc %}" class="mas">Más Información</a></small>
      </p>
    {% endfor %}
    </div>
</p>
{% endblock content %}