{% extends "base.html" %}
{% block content %}
<table class="lista-escuela">
<tr class="cab">
    <th>Clave</th>
    <th>Nombre</th>
    <th>Localidad</th>
    <th>Zona</th>
    <th>Sector</th>
    <th>Modalidad</th>
    <th>Nivel</th>
    <th>Teléfono</th>
    <th>¿Activa?</th>
    <th>-</th>
</tr>
{% for escuela in object_list %}
<tr class="fila">
    <td class="item-esc">
        {{escuela.clave}}
    </td>
    <td class="item-esc">
        {{escuela.nombre}}
    </td>
    <td class="item-esc">
        {{escuela.localidad}}
    </td>
    <td class="item-esc">
        {{escuela.zona}}
    </td>
    <td class="item-esc">
        {{escuela.sector}}
    </td>
    <td class="item-esc">
        {{escuela.modalidad}}
    </td>
    <td class="item-esc">
        {{escuela.nivel}}
    </td>
    <td class="item-esc">{{escuela.telefono}}</td>
    <td class="item-esc">{{escuela.esta_afiliada}}
    </td>
    <td>
        <a href="{% url 'detalle-escuela' escuela.clave escuela.id %}" class="mas">
            Más-></a>
    </td>
</tr>
{% empty %}
<span class="error">NO existe esta escuela o no se ha dado de alta</span>
{% endfor %}
</table>
{% endblock content %}