{% extends "base.html" %}
{% block content %}
Bienvenido
    <span class="user">{{user}}</span>
<br>
<p>
    En <b>Home</b> estará un resumen de todo lo que está en el programa, por lo
    tanto se dejará para lo último. LA cual será esta sección :D
</p>
<p>
    En la seccion de <b>Búsqueda</b> se podrá realizar una busqueda general
</p>
<p>
    En <b>Consultar</b> se podrá consultar una escuela o un personal de acuerdo
    a su clave o rfc, segun sea el caso, se mostraran todos sus datos
</p>
<p>
    En <b>Filtrar</b> se mostrarán todos los datos pero con opciones de filtrado,
    como puede ser, modalidad, nivel de escuela, municipio, entre otros; al igual
    que al personal
</p>
<p>
    En <b>Reportes</b> mostraré algunos filtros que podrían ser utiles con la
    opción de imprimir en PDF.
</p>


{% endblock content %}