body{
    background: white;
    font-size: 16px;
    font-family: 'consolas';
    margin: 0px;
}

header{
    background: #ddd;
    margin: 0px;
    text-align: center;
}

footer{
    background: black;
    border: 1px solid green;
    color: green;
    font-size: 0.8em;
    text-align: center;
}
footer:hover{
    color:red;
}
h1{
    padding-top: 0.4em;
}
h1, h2{
    color:#555;
    font-family: "Caviar Dreams";
    margin: 0px;
}

a{
    font-family: 'monospace'
}
.cuerpo{
    padding-top: 1em;
    padding-left: 0.2em;
}
.content{
    margin: 0px auto;
    max-width: 80em;
    width: 100%;
}
.form-sesion{
    padding: 3em;
    margin: 0px auto;
    width: 24em;
}
.campos-texto{
    background: white;
    border: 1px solid gray;
    border-radius: 25px;
    font-size: 1.2em;
    height: 2em;
    text-align: center;
    width: 20em;
}
.btn-submit{
    background: #AAFFAA;
    border: 1px solid green;
    border-radius: 25px;
    font-family: monaco;
    height: 2.5em;
    width: 29.1em;
}
.user{
    color:blue;
}
.menu{
    border:1px solid gray;
    list-style: none;
    margin: 0px;
    padding: 0.3em;
    text-align: center;
    width: 98.5%;
}
.item{
    display: inline-block;
}
.item a{
    color: black;
    padding: 0.4em 1em 0.4em 1em;
    text-decoration: none;
}
.item a:hover{
    border-top: 1px solid gray;
    border-bottom: 2px solid gray;
}
.item a:active{
    color: gray;
}
.menu-2{
    margin: 0px;
    position: absolute;
    right: 1em;
    top: 0em;
}
.menu-2 li{
    text-align: center;
    display: inline-block;
}
.menu-2 li a{
    color: red;
    text-decoration: none;
    font-size: 0.8em;
}
.menu-2 li a:hover{
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    }

.lista-escuela li{
    display: inline-block;
}
.peque{
    border-right: 1px solid gray;
    width: 4em;
}
.encabezado{
    border-bottom: 1px solid black;
    font-weight: bold;
}
.encabezado li{
    text-align: center;
}
.resultado{
    border-bottom: 1px solid gray;
}
.resultado li{
    text-align: center;
}
.fila{
    width: 100%;
}
.item-esc{
    border-right: 1px solid gray;
    width: 10%;
}
.forms{
    background: #FAFAFA;
    color:#444;
    font-family: 'ubuntu';
    margin: 0.1em;
    width: 100%;
}
.form-consulta{
    font-size: 0.8em;
}
.form-busqueda{
    float: right;
}
.campos-busqueda{
    height: 1.5em;
    margin: 0px;
}
.btn-busca{
    background: #DDD;
    border: 1px solid gray;
    color: #555;
    margin: 0px;
    padding: 0.3em;
}
.select-consulta{
    background: #DDD;
    height: 1.9em;
    margin: 0px;
}