body{
    background: black;
    margin: 0px;
    font-family: 'monospace';
    font-size: 16px;
}
header{
    background: #222222;
    color:white;
    text-align: center;
}
h1,h2{
    margin:0px;
}
a{
    text-decoration: none;
}
footer{
    color:orange;
    background: #1A1A1A;
    padding: 1em;
    text-align: center;
}
.contenido{
    background: black;
    color: white;
    margin-top: 0px;
    margin: 0px auto;
    max-width: 80em;
    padding-top:1em;
    padding-bottom: 1em;
    width: 100%;
}
.lnk{
    color:orange;
}
.lnk:hover{
    color:red;
}
.user{
    color:#5555FF;
}
.form-sesion{
    text-align: center;
}
.campos-texto{
    color:red;
    background: black;
    border:none;
    border-bottom: 1px solid white;
    font-family: monaco;
    font-size: 1.3em;
    text-align: center;
}
.btn-submit{
    background: #111111;
    border: 1px solid #00FF00;
    color:white;
    padding: 0.8em;
    width: 20%;
}
.nav{
    background: #BABABA;
}
.item-menu,.item-usr{
    display: inline-block;
}
.item-menu{
    padding: 0.8em;
}
.item-menu a{
    color:black;
    padding: 0.8em;
}
.item-menu a:hover{
    background: black;
    color:white;

}
.item-usr{
    color:gray;
    padding-left: 9em;
}
.item-usr a{
    color:red;
}
.item-usr a:hover{
    border-bottom: 1px solid red;
}

.form-consulta{
    color:yellow;
}
.form-b{
    float:right;
}
.cont-forms{
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
}
.fms{
    display: inline-block;
}
.slct{
    background: #1111AA;
    border:1px solid gray;
    color:white;
    font-family: "consolas";
    height: 2.5em;
    margin:0px;
    width: 10em;
}
.cmp-text{
    background: #121212;
    border:none;
    border: 2px solid #1111AA;
    color:red;
    font-family: 'consolas';
    height: 2.4em;
    text-align: center;
}

.btn{
    background: gray;
    border:1px solid gray;
    color:black;
    font-family: "andale mono";
    height: 2.5em;
    /*width: 6em;*/
}
.cab{
    background: #123456;
}
.cab th{
    padding: 0.4em;
}
.item-esc{
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
.mas{
    background: blue;
    border: 1px solid white;
    color:#FF5555;
    font-size: 0.8em;
    padding: 0.4em;
}
.mas:hover{
    background: white;
    color:red;
}
.personal{
    background: #212121;
    padding: 0.5em;
}
.escuela{
    background: #111111;
    padding: 0.2em;
}
.pers{
    background: #222222;
    padding: 0.2em;
}
.a-esc{
    color:red;
}
.error{
    color:red;
}