{% extends "base.html" %}
{% block content %}
{% if not detalle %}
<table>
<tr class="fila">
        <th class="item-esc">RFC</th>
        <th class="item-esc">Nombre</th>
        <th class="item-esc">¿Doble plaza?</th>
        <th class="item-esc">fecha de ingreso</th>
        <th class="item-esc">Nivel de estudios</th>
        <th class="item-esc">Especialidad</th>
        <th>-</th>
</tr>
{% endif %}
{% for personal in object_list %}
{% if detalle %}
    <div class="pers">
    <h3>{{personal.nombre}} {{personal.apellido_paterno}}
            {{personal.apellido_materno}}</h3><br>
    <strong>RFC: </strong>{{personal.rfc}}<br>
    <strong>Fecha de nacimiento: </strong>{{personal.fecha_nacimiento}}
    <p>
        <strong>Fecha de ingreso: </strong>{{personal.fecha_ingreso}}<br>
        <strong>Nivel de estudios: </strong>{{personal.nivel_estudio}}<br>
        <strong>Especialidad: </strong> {{personal.especialidad}}<br>
        <strong>Posee doble plaza: </strong>{{personal.dos_plaza}}
    </div>
    </p>
    <p>
        {% for esc in schooll %}
            Labora en la escuela
            <a class="a-esc" href="{% url 'detalle-escuela' esc.escuela.clave esc.escuela.id %}">
                {{esc.escuela.nombre}}
            </a>
            como <strong>{{esc.puesto}}</strong>
            en <strong>{{esc.escuela.localidad}}</strong>
        {% endfor %}
    </p>
{% else %}

<tr>
        <td class="item-esc">
            {{personal.rfc}}
        </td>
        <td class="item-esc">
            {{personal.nombre}}
            {{personal.apellido_paterno}}
            {{personal.apellido_materno}}
        </td>
        <td class="item-esc">
            {{personal.dos_plaza}}
        </td>
        <td class="item-esc">
            {{personal.fecha_ingreso}}
        </td>
        <td class="item-esc">
            {{personal.nivel_estudio}}
        </td>
        <td class="item-esc">
            {{personal.especialidad}}
        </td>
        <td>
            <a href="{% url 'personal' personal.rfc %}" class="mas">Ver</a>
        </td>
</tr>
{% endif %}
{% empty %}
<span class="error">No existe esta persona o no se ha dado de alta</span>
{% endfor %}
</table>
{% endblock content %}