<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/estilos.css" %}">
    <title>
        {% block title %}
        Inicio | Escuelas de Tiempo Completo Veracruz
        {% endblock title %}
    </title>
</head>
<body>
<header class="jumbotron">
    <h1>
        Escuelas de Tiempo Completo
    </h1>
    <h2>
        Sistemas para hacer muchas, pero muchas cosas
    </h2>
    {% if user.is_authenticated %}
    <nav class="nav">
        <ul class="menu">
            <li class="item-menu"><a class="" href="">Reportes</a></li>
            <li class="item-menu"><a class="" href="">Filtrar</a></li>
            <li class="item-menu"><a href="/admin/">Administrar</a></li>
            <li class="item-usr">({{user}})
            <a class="label label-danger" href="{% url 'salir' %}">Salir</a></li>
        </ul>
    </nav>
    {% endif%}

</header>
<div class="">
{% if user.is_authenticated %}
<div class="cont-forms">
<form action="{% url 'consulta' %}" class="fms form-consulta">
    <div class="cont-cf">
    Buscar por:
    <select name="tipo-busqueda" class="slct">
        <option value="escuela">Escuela</option>
        <option value="personal">Personal</option>
    </select>
    <input type="text" name="consulta" class="cmp-text" placeholder="Clave o RFC">
    <input type="submit" value="Buscar" class="btn">
    </div>
</form>

<form action="" class="fms form-b">
<div class="cont-cf">
    <input type="text" name="busqueda" placeholder="Buscar" class="cmp-text">
    <input type="submit" value="Buscar" class="btn">
</div>
</form>
</div>
{% endif %}
<section class="contenido">
{% block content %}
{% endblock content %}
</div>
</section>
<footer>
    <small>
        Secretaría de Educación Pública<br>
        Subsecretaría de Educación Básica<br>
        Programa Estatal Escuelas de Tiempo Completo, Xalapa, Ver. 2014
    </small>
</footer>
<script src="{% static "js/index.js" %}"></script>
</body>
</html>